* {
    margin: 0;
}

.body{
    margin:0px;
  }

header{
    width:100%;
    height:15vh;
    background-color:#3468FC;
    display:flex;
    justify-content:space-between;
}

.icon{
    width: 6.25rem;
    height: 4.68rem;
}

.background{
    text-align: center;
    margin-top:7vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container {
    min-width: 664px;
}

.value{
    display: flex;

    width: 70vw;
    height: 10%;
    border-radius: 10vw;
    border-color: #8CAAFD;
    border-width: 1vw;
    justify-content:center;
    font-size:5vw ;
    background-color:white;
    align-items: center;
    text-align: center;
    align-content: center;
}

.eye{
    margin-right: 10vw;
}

.valueLetter{
    height: 15vh;
    font-size: 10vh;
}

.background2{
    align-items: center;
    margin-top:20vh;
    display:flex;
    flex-direction:column;
    align-content: space-between;
    height: 200hv;
}

.earnings{
    background-color:#8CAAFD;
    border-radius:10vw;
    color: #ffffff;
    border: 0;
    width:60vw;
    height:20vh;
    font-size:200%;
    margin-bottom: 15vh;
}





